<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Hardened.Framework" value="https://ci.appveyor.com/nuget/hardened-framework-nightly" />
        <add key="CSharoAuthor" value="https://ci.appveyor.com/nuget/csharpauthor-nightly-build"/>
    </packageSources>
</configuration>