<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- The feeds this project restores from. A Hardened release is on nuget.org. -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
<!--#PREVIEW-SOURCE#-->
</configuration>
