<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github-ipjohnson-org" value="https://nuget.pkg.github.com/ipjohnson-org/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-ipjohnson-org>
            <add key="Username" value="ipjohnson" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-ipjohnson-org>
    </packageSourceCredentials>
</configuration>
