<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="appveyor-dependencymodules" value="https://ci.appveyor.com/nuget/dependencymodules" />
        <add key="github-ipjohnson-org" value="https://nuget.pkg.github.com/ipjohnson-org/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-ipjohnson-org>
            <add key="Username" value="ipjohnson-org" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-ipjohnson-org>
    </packageSourceCredentials>
</configuration>
