<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="github-ipjohnson" value="https://nuget.pkg.github.com/ipjohnson/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-ipjohnson>
            <add key="Username" value="ipjohnson" />
            <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
        </github-ipjohnson>
    </packageSourceCredentials>
</configuration>
